<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="headerHome">
        <div class="logo">
            <img class="logo" src="/images/Logo.jpg" alt="Logo de la Empresa"></div>
           <h2> Vivero Timbó 122 n996</h2>
        <nav class="headerHome">
            <ul>
                <a href="#">Productos</a>
                <a href="#">Visitanos!</a>      
                <a href="#">Servicios</a>      
            </ul>
        </nav>
    </header>
    
    <section class="contenido">
     <p>
        Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Ad
         tempora nam unde tenetur 
         consequatur veritatis culpa 
         laudantium rerum velit, vel
          quas non facere fuga 
          voluptates dolores alias?
           Blanditiis, voluptate facilis!
        Lorem ipsum dolor sit amet
         consectetur adipisicing elit.
          Rem in et officiis possimus 
          eaque, dolores aperiam 
          consectetur, itaque sed
           asperiores ipsam. Minus
            perferendis debitis sequi 
            maiores illum assumenda id 
            sunt?
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ad
             tempora nam unde tenetur 
             consequatur veritatis culpa 
             laudantium rerum velit, vel
              quas non facere fuga 
              voluptates dolores alias?
               Blanditiis, voluptate facilis!
            Lorem ipsum dolor sit amet
             consectetur adipisicing elit.
              Rem in et officiis possimus 
              eaque, dolores aperiam 
              consectetur, itaque sed
               asperiores ipsam. Minus
                perferendis debitis sequi 
                maiores illum assumenda id 
                sunt?
                Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Ad
                 tempora nam unde tenetur 
                 consequatur veritatis culpa 
                 laudantium rerum velit, vel
                  quas non facere fuga 
                  voluptates dolores alias?
                   Blanditiis, voluptate facilis!
                Lorem ipsum dolor sit amet
                 consectetur adipisicing elit.
                  Rem in et officiis possimus 
                  eaque, dolores aperiam 
                  consectetur, itaque sed
                   asperiores ipsam. Minus
                    perferendis debitis sequi 
                    maiores illum assumenda id 
                    sunt?
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Ad
                     tempora nam unde tenetur 
                     consequatur veritatis culpa 
                     laudantium rerum velit, vel
                      quas non facere fuga 
                      voluptates dolores alias?
                       Blanditiis, voluptate facilis!
                    Lorem ipsum dolor sit amet
                     consectetur adipisicing elit.
                      Rem in et officiis possimus 
                      eaque, dolores aperiam 
                      consectetur, itaque sed
                       asperiores ipsam. Minus
                        perferendis debitis sequi 
                        maiores illum assumenda id 
                        sunt?
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. 
                        Ad
                         tempora nam unde tenetur 
                         consequatur veritatis culpa 
                         laudantium rerum velit, vel
                          quas non facere fuga 
                          voluptates dolores alias?
                           Blanditiis, voluptate facilis!
                        Lorem ipsum dolor sit amet
                         consectetur adipisicing elit.
                          Rem in et officiis possimus 
                          eaque, dolores aperiam 
                          consectetur, itaque sed
                           asperiores ipsam. Minus
                            perferendis debitis sequi 
                            maiores illum assumenda id 
                            sunt?
                            Lorem ipsum dolor sit amet 
                            consectetur adipisicing elit. 
                            Ad
                             tempora nam unde tenetur 
                             consequatur veritatis culpa 
                             laudantium rerum velit, vel
                              quas non facere fuga 
                              voluptates dolores alias?
                               Blanditiis, voluptate facilis!
                            Lorem ipsum dolor sit amet
                             consectetur adipisicing elit.
                              Rem in et officiis possimus 
                              eaque, dolores aperiam 
                              consectetur, itaque sed
                               asperiores ipsam. Minus
                                perferendis debitis sequi 
                                maiores illum assumenda id 
                                sunt?
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Ad
                                 tempora nam unde tenetur 
                                 consequatur veritatis culpa 
                                 laudantium rerum velit, vel
                                  quas non facere fuga 
                                  voluptates dolores alias?
                                   Blanditiis, voluptate facilis!
                                Lorem ipsum dolor sit amet
                                 consectetur adipisicing elit.
                                  Rem in et officiis possimus 
                                  eaque, dolores aperiam 
                                  consectetur, itaque sed
                                   asperiores ipsam. Minus
                                    perferendis debitis sequi 
                                    maiores illum assumenda id 
                                    sunt?
                                    Lorem ipsum dolor sit amet 
                                    consectetur adipisicing elit. 
                                    Ad
                                     tempora nam unde tenetur 
                                     consequatur veritatis culpa 
                                     laudantium rerum velit, vel
                                      quas non facere fuga 
                                      voluptates dolores alias?
                                       Blanditiis, voluptate facilis!
                                    Lorem ipsum dolor sit amet
                                     consectetur adipisicing elit.
                                      Rem in et officiis possimus 
                                      eaque, dolores aperiam 
                                      consectetur, itaque sed
                                       asperiores ipsam. Minus
                                        perferendis debitis sequi 
                                        maiores illum assumenda id 
                                        sunt?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam dolorem similique est odio, esse laborum praesentium rem,
             nobis ad id veritatis, nesciunt sapiente dolor quod nisi ex? Ex, iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam dolorem similique est odio, esse laborum praesentium rem,
             nobis ad id veritatis, nesciunt sapiente dolor quod nisi ex? Ex, iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam dolorem similique est odio, esse laborum praesentium rem,
             nobis ad id veritatis, nesciunt sapiente dolor quod nisi ex? Ex, iste?
        </p>

    </section>

    <footer class="footerHome" width="100%">
        <div class="footerHome">
            <p>Vení a visitarnos</p>
        </div>
    </footer>
</body>
</html>