<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
</head>

<body class="home">
    <%- include('./partials/headerHome.ejs') %>
    

    <section class="categorias">
   <div class="plantas">
   <img class="plantas" src="./images/products/azalea-interior-m13rocio.jpg">
   <a href="../categorias/categorias.ejs">Plantas</a>
  
   </div>
        <div class="huerta">
        <img class="plantas" src="./images/products/huerta-tomate.jpg">
        <a href="../categorias/categorias.ejs">Huerta</a>
       
        </div>
            <div class="macetas">
            <img class="plantas" src="./images/products/azalea-interior-m13rocio.jpg">
            <a href="../categorias/categorias.ejs">Macetas</a>
           
            </div>
                <div class="remedios">
                <img class="plantas" src="./images/products/azalea-interior-m13rocio.jpg">
                <a href="../categorias/categorias.ejs">Remedios</a>
                </div>
                    <div class="espacios">
                    <img class="plantas" src="./images/products/azalea-interior-m13rocio.jpg">
                    <a href="../categorias/categorias.ejs">Espacios</a>
                   
                    </div>
                        <div class="ofertas">
                        <img class="plantas" src="./images/products/azalea-interior-m13rocio.jpg">
                        <a href="../categorias/categorias.ejs">Ofertas</a>
                       
                        </div>
                         </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
     
     <%- include('./partials/carouselHome.ejs') %>
    </body>
        <%- include('./partials/footerHome.ejs') %>
</html>