<div class="slide-container">
    <div class="slide fade">
        <img src="/images/products/hojaCostillaDeAdan.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/images/products/plantacionEnTierra.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/images/products/regalitoRosaTimbó.jpg" alt="">
    </div>

</div>
<br>