<div class="header">
    <div class="content">
<header class="headerHome">
    <div class="logo">
        <img class="logo" src="/images/headerHome/Logo.jpg" alt="Logo de la Empresa"></div>
       <h1> VIVERO TIMBÓ</h1>
    <nav class="headerHome">
        <ul>
            <a href="#">Productos</a>
            <a href="#">Visitanos!</a>      
            <a href="#">Servicios</a>      
        </ul>
    </nav>

</header>
</div>
</div>